$card-size: 8em;
$card-padding: $card-size / 16;

body {
	margin: 0;
}

.board {
	background: #2AA33E;
	width: 100%;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
}
.card {
	font-family: sans-serif;
	font-weight: bold;
	width: $card-size;
	height: $card-size * 1.5;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	display: inline-block;
	padding: 0.5em;
	box-sizing: border-box;
	position: absolute;
	transform: rotateY(-180deg);
	transition: transform 0.3s ease;
	* {
		pointer-events: none;
	}
	&.open {
		transform: rotateY(0);
		&:after {
			opacity: 0;
		}
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #E2E2E2;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	> * {
		position: absolute;
		font-size: 1.3em;
	}
	> span:first-child {
		top: $card-padding;
		left: $card-padding;
	}
	> span:last-child {
		bottom: $card-padding;
		right: $card-padding;
	}
	.type {
		position: absolute;
		text-align: center;
		font-size: $card-size / 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.red {
		color: red;
	}
}



.full, .view, .empty, .stack {
	width: $card-size;
	height: $card-size * 1.5;
	border: 1px dashed white;
	box-sizing: border-box;
}

.draw {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-around;
	.full {

	}
	.view {

	}
}

.stacks {
	display: flex;
	width: 100%;
	justify-content: space-around;
	.stack {
		@for $i from 2 through 6 {
			.card:nth-child(#{$i}) {
				margin-top: 1em * ($i - 1);
			}
		}
	}
}

.finish {
	display: flex;
	justify-content: space-around;
	.empty {
		z-index: 10;
	}
}

.top {
	display: flex;
	justify-content: space-between;
}