$card-size: 8em;
$card-padding: $card-size / 32;

* {
	user-select: none;
}

body {
	margin: 0;
	background: #2AA33E;
	padding: 1em;
	box-sizing: border-box;
	overflow: hidden;
}
.card {
	font-family: sans-serif;
	font-weight: bold;
	width: $card-size;
	height: $card-size * 1.5;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	display: inline-block;
	padding: 0.2em;
	box-sizing: border-box;
	position: absolute;
	transform: rotateY(-180deg);
	transition: transform 0.3s ease, top 0.02s linear, left 0.02s linear;
	z-index: 5;
	* {
		pointer-events: none;
	}
	&.open {
		cursor: move;
		transition: transform 0.3s ease;
		transform: rotateY(0);
		&:after {
			display: none;
		}
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('http://vignette1.wikia.nocookie.net/cardgame/images/a/ac/Pokemon-card-back.jpg/revision/latest?cb=20131228023927');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		transform: rotateY(180deg);

		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	> * {
		position: absolute;
		font-size: 1.3em;
	}
	> span:first-child {
		top: $card-padding;
		left: $card-padding;
	}
	> span:last-child {
		bottom: $card-padding;
		right: $card-padding;
	}
	.type {
		position: absolute;
		text-align: center;
		font-size: $card-size / 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.red {
		color: red;
	}
	&.selected {
		margin-top: 0 !important;
		pointer-events: none;
		z-index: 10;
		+ .selected {
			margin-top: ($card-padding * 1 * 8) !important;
			+ .selected {
				margin-top: ($card-padding * 2 * 8) !important;
				+ .selected {
					margin-top: ($card-padding * 3 * 8) !important;
					+ .selected {
						margin-top: ($card-padding * 4 * 8) !important;
						+ .selected {
							margin-top: ($card-padding * 5 * 8) !important;
							+ .selected {
								margin-top: ($card-padding * 6 * 8) !important;
								+ .selected {
									margin-top: ($card-padding * 7 * 8) !important;
									+ .selected {
										margin-top: ($card-padding * 8 * 8) !important;
										+ .selected {
											margin-top: ($card-padding * 9 * 8) !important;
											+ .selected {
												margin-top: ($card-padding * 10 * 8) !important;
												+ .selected {
													margin-top: ($card-padding * 11 * 8) !important;
													+ .selected {
														margin-top: ($card-padding * 12 * 8) !important;
														+ .selected {
															margin-top: ($card-padding * 13 * 8) !important;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.full, .view, .foundations, .stack {
	width: $card-size;
	height: $card-size * 1.5;
	border: 1px dashed white;
	box-sizing: border-box;
}

.full {
	position: relative;
	&:before {
		content: '↺';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 5em;
		color: white;
		font-weight: 300;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.draw {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-around;
	> div {
		margin: 0 1em 0 0;
	}
}

.stacks {
	display: flex;
	width: 100%;
	justify-content: space-around;
	.stack {
		@for $i from 2 through 13 {
			.card:nth-child(#{$i}) {
				margin-top: $card-padding * ($i - 1) * 8;
			}
		}
	}
}

.foundation {
	display: flex;
	justify-content: space-around;
	> div {
		margin: 0 1em 0 0;
	}
}

.top {
	display: flex;
	justify-content: space-between;
}